<h1 class="d-flex justify-content-center mb-5 mt-4"> Clientes cadastrados</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Login</th>
      <th scope="col">Senha</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td> {{this.name}} </td>
      <td>{{this.sobrenome}}</td>
      <td>{{this.login}}</td>
      <td> {{this.senha}}</td>
      <td>
        <a class="btn btn-success" href="/edit/{{this.id}}">Editar</a>
        <a class="btn btn-danger" href="/delete/{{this.id}}">Deletar</a>
       </td>
    </tr>
    
    
    {{/each}}
  </tbody>
</table>